# These are the reqs to build docs and run tests.
sphinx
django-redis
jinja2
redis
flake8
coverage
psycopg2-binary
dj-database-url
python-memcached>=1.58
tox
tox-gh-actions
django>=4.2.21 # not directly required, pinned by Snyk to avoid a vulnerability
